[Unit]
Description=Joystick virtual keyboard service

[Service]
Restart=always
RestartSec=1
EnvironmentFile=/var/lib/joystick_virt_kbd/.env
ExecStart=/usr/bin/env joystick_virt_kbd

[Install]
WantedBy=multi-user.target
